*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background:#081725;
 }
    .container {
        background-color: rgb(2, 47, 75);
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
.container1 ,.container2{
    background-color:#081725; 
    margin: 20px ;
    border-radius: 15px; 
}

.jacob{
color:white;
margin-left: 5px;
}
ul{
    color: white;
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}
header{
    display: flex;
    top: 0;
    justify-content: space-between;
    margin-right: 10px;
}
.font,h1{
    color: white;
   
}
.font{
    color: white;
    margin:10px ;
}
.h3{
    color: hsl(186, 100%, 50%);
   
}
.btn{
    border-radius: 8px;
    margin: 20px;
    padding: 5px;
    width: 10vw;
    background:  hsl(186, 100%, 50%);
}
.btn2{
    background:#081725;
    color: aqua;
    border: 1px solid aqua;
    position: inline;
}
.fa-brands{
    border-radius:50% ;
    border: 1px solid aqua;
    padding: 8px;
    color: aqua;
}
.pic2{
    border: 1px solid aqua;
    border-radius: 50%;
    height: 25vh;
    width: 11vw;
}
.div2{
    margin-top: 9rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: 550px;
    
}
.para2,h4{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.pic2,.btn3{
    align-self: center;
}
.txtcol,h6{
    color: aqua;
}
.box1{
    padding: 8px;
    margin: 8px 20px;
    width: 300px;
    border: 1px solid  hsl(186, 100%, 50%);
    border-radius: 8px ;
}
p,h5{
    color: white;
}
.part1 {
    display: flex;
    justify-content: center;
    
}
.mj{
  text-align: center;
}
h5{
    padding: 5px 21px;
}
.mySkills{
    color: white;
    text-align: center;
   
}

.skills{
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
    
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
color: aliceblue;
text-transform: uppercase;
margin: 20px 0;
}
.skill-bar{
    height: 15px;
    background:#081725;
    border: 3px solid  hsl(186, 100%, 50%);
    width: 15rem;
}
.skill-per{
    height: 5px;
    background: hsl(186, 100%, 50%);
    border-radius: 3px;
    position: relative;
    margin: 3px 0;
}

.innerpart{
    display: flex;
    justify-content: center;
   
}
.fin{
    width: 16rem;
    height: 40px;
    border:1px solid  hsl(186, 100%, 50%);
    align-content: center;
    color: white;
}
.final{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    width:40rem ;
}
.fin-2{
    width: 33rem;
    height: 13rem;
}
.cm{
    color: white;
    text-align: center;
    margin: 40px;
    }
.submit{
    background: hsl(186, 100%, 50%);
    color:black;
    border-radius: 8px;
    width: 8em;
    height: 2em;
   
    margin-top: 10px; 
}
.first{
    display: flex;
    justify-content: space-between;
}
.div11{
    display: flex;
    flex-direction: column;
    margin-top:6rem;
    margin-left: 3rem;
}
.sym{
    margin-top: 4rem;
    margin-left: 1.5rem;
}
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .container1, .container2 {
        width: 90%;

    }
  
}
@media screen and (min-width: 1024px){
     .container{
        display: flex;
     }
}

      




